
<section id="about-me" class="section">
    <div class="photo">
        <img src="assets/images/hpage.png" alt="">
    </div>
    <div class="info">
        <h2>About Me</h2>
        <p>
            I am a passionate Full Stack Developer with expertise in Angular and Java. 
            I enjoy creating intuitive and responsive web applications that provide excellent user experiences.
          </p>
        <div class="personal-info">
            <p><strong >Name:</strong> Nigus Getie</p>
            <p><strong>Date of Birth:</strong> October 11, 1998</p>
            <p><strong>Address:</strong> Addis Ababa, Ethiopia</p>
            <p><strong>Zip Code:</strong> 1000</p>
            <p><strong>Email:</strong> <a href="mailto:nigusgetif48@gmail.com">nigusgetif48@gmail.com</a></p>
            <p><strong>Phone:</strong> +251-976029304</p>
        </div>
    </div>
</section>
