<mat-toolbar>
    <div class="toolbar-title">
        <img src="assets/images/nigus.jpeg" alt="" style="width : 50px; height: 50px;">
        <span class="name" style="color: white;">Nigus</span>
    </div>
    <div class="nav-links">
      <a mat-button class="custom-button" (click)="scrollToSection('about-me')"><fa-icon [icon]="faUser"></fa-icon> About Me</a>
      <a mat-button class="custom-button" (click)="scrollToSection('skills')"><fa-icon [icon]="faLightbulb"></fa-icon> Skills</a>
      <a mat-button class="custom-button" (click)="scrollToSection('projects')"><fa-icon [icon]="faProjectDiagram"></fa-icon> Projects</a>
      <a mat-button class="custom-button" (click)="scrollToSection('resume')"><fa-icon [icon]="faFileAlt"></fa-icon> Resume</a>
      <a mat-button class="custom-button" (click)="scrollToSection('contacts')"><fa-icon [icon]="faAddressBook"></fa-icon> Contacts</a>
    </div>
  
    <div class="social-icons">
        <a href="https://linkedin.com/in/nigus-getie" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        <a href="https://github.com/nigusgetif" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
        <a href="https://www.instagram.com/nigusgetie/" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a href="https://x.com/nigus4825" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a>
      </div>
      
  </mat-toolbar>

  
  