<section id="contacts" class="section">
  <h2>Contact Me</h2>
  <form (ngSubmit)="sendEmail(contactForm)" #contactForm="ngForm" class="contact-form">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" [(ngModel)]="contact.name" placeholder="Enter your name" required>
      <mat-error *ngIf="contactForm.controls['name']?.invalid && contactForm.controls['name']?.touched">
        Name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="contact.email" placeholder="Enter your email" required
        email>
      <mat-error *ngIf="contactForm.controls['email']?.errors?.['required']">
        Email is required.
      </mat-error>
      <mat-error *ngIf="contactForm.controls['email']?.errors?.['email']">
        Invalid email format.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Message</mat-label>
      <textarea matInput rows="4" name="message" [(ngModel)]="contact.message" placeholder="Write your message here"
        required></textarea>
      <mat-error *ngIf="contactForm.controls['message']?.invalid && contactForm.controls['message']?.touched">
        Message is required.
      </mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="!contactForm.form.valid" class="submit-btn">
      <mat-icon>send</mat-icon> Send Message
    </button>
  </form>
</section>