.resume-section {
    padding: 40px 20px;
    text-align: center;
    background: #161b26;
  }
  .section{
    padding: 40px 20px;
  }
  
  .resume-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0,0.1);
    color: #eadbdb;
  }
  
  .resume-section h3 {
    font-size: 1.8rem;
    color: #fffbfb;
    margin-bottom: 10px;
  }
  
  .resume-section .section-icon {
    font-size: 2rem;
    color: #1090c7;
    margin-bottom: 10px;
  }
  
  .resume-details p {
    margin: 5px 0;
    color: #eadbdb;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .skill-item p {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  mat-progress-bar {
    height: 10px;
    border-radius: 5px;

  }
  
 
  .section-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.section-icon {
  color:#1090c7;
  font-size: 2rem;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin: 0;
}


.activities-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.activities-list li {
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 3px solid #1090c7;
}

.activity-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color:  #e3d2d2;
}

.activity-description {
  margin: 0.3rem 0 0;
  font-size: 0.8rem;
  color: #e3d2d2;
  line-height: 1.1;
}

.certifications-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  
  .certifications-list li {
    padding: 5px 0;
    font-weight: bold;
  }
  
  .download-resume {
    margin-top: 20px;
  }
  
  mat-raised-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }
  
  mat-raised-button mat-icon {
    font-size: 1.2rem;
  }
  .custom-download-button{
    background-color: #27E8FE; 
    color: #fffbfb;
    border-radius: 30px;
    width: 200px;
    padding: 25px;
    font-weight: bold; 
    font-size: 20px;
  
  }

  .custom-download-button mat-icon{
    font-size: 20px; 
  }
  
.mat-mdc-progress-bar{
  --mdc-linear-progress-active-indicator-color: #27E8FE; 
}