.section {
    padding: 250px 0;
    text-align: center;
    background-color: rgb(249, 221, 187);
  }
  .background-image {
    background-color: #121722;
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
}

.overlay-text {
  display: flex;
  position: relative; 
  color: white; 
  text-align: center; 
  padding: 20px; 
  border-radius: 10px; 
  margin-top: -160px;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
.bdyText{
  text-align: left;             
  margin-left: -200px;          
  position: relative;
  margin-top: 200px;
}
.bdyText button{
  border-radius: 30px;
  width: 190px;
  padding: 25px;
  margin-top: 60px; 
  background-color: #27E8FE; 
  color: rgb(255, 255, 255);  
  font-weight: bold; 
  font-size: 20px;
  
}


#about-me {
      display: flex;
      max-width: 100%;
      padding: 20px;
      background: #ffffff;
      border-radius: 10px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s;
    }

    #about-me:hover {
      transform: translateY(-8px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    .photo {
      padding: 10px;
      text-align: center;
    }

    .photo img {
      max-width: 100%;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .info {
        margin-left: 230px;
        
     
    }

    .personal-info {
      display: flex;
      flex-direction: column;
      margin-top: 20px; 
      margin-left: 230px;
      text-align: start;
    }

    .personal-info p {
      margin: 12px 0; 
      color: #444;
      font-size: 15px;
      line-height: 1.4; 
    }

    .personal-info strong {
      color: #007bff;
    }

    .personal-info a {
      color: #007bff;
      text-decoration: none;
      transition: color 0.3s;
    }

    .personal-info a:hover {
      color: #0056b3;
    }
    