<section class="coverPage">
    <div class="background-image">
        <div class="overlay-text">
            <div class="bdyText">
                <h3 style="font-style: italic; font-size: 12px;">My Name is <strong>Nigus Getie</strong></h3>
                <h1>I'm a Full Stack <strong style="color: #27E8FE;">Developer</strong></h1>
                <a href="assets/resume.pdf"  target="_blank" download="Nigus_Resume.pdf">
                    <button mat-button>Download CV</button>
                  </a>    
            </div>
            <img src="assets/images/frame.png" alt="">
        </div>
    </div>
</section>
<app-about-me></app-about-me>
<app-skills></app-skills>
<app-projects></app-projects>
<app-resume></app-resume>
<app-contacts></app-contacts>
