
.background-image {
  background-color: #121722;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: relative;
  padding: 20px;
}


.overlay-text {
  display: flex;
  flex-direction: row; /* Aligns the items side by side */
  justify-content: flex-start;
  align-items: center; /* Vertically center-aligns the text */
  color: white;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  margin-top: 0;
  z-index: 1;
  width: 50%; /* Limits the width of the overlay text */
}

/* Text container */
.bdyText {
  text-align: left;
  position: relative;
  margin-top: 0;
  margin-left: 0;
  max-width: 500px; /* Limit text container size */
}

/* Heading and button styles */
.bdyText h3 {
  font-style: italic;
  font-size: 12px;
}

/* Text Styling for Full Stack Developer */
.bdyText h1 {
  font-size: 2rem; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.bdyText button {
  border-radius: 30px;
  width: 200px; /* Adjusted to be responsive */
  padding: 15px;
  margin-top: 20px;
  background-color: #27E8FE;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.bdyText button:hover {
  background-color: #1bb0d5; /* Add hover effect */
}

/* Image styles */
.overlay-text img {
  width: 80%; /* Increased the image width to take up more space */
  height: auto; /* Prevents distortion while resizing */
  object-fit: contain; /* Prevents distortion */
  margin-left: 20px; /* Space between text and image */
  max-height: 80vh; /* Limits the image height to 80% of the viewport height */
}

@media (max-width: 480px) {
  .bdyText h1 {
    font-size: 1.2rem; /* Further adjust font size for very small screens */
    white-space: nowrap; /* Ensure text remains on one line */
  }
}

/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
  .bdyText h1 {
    font-size: 1.2rem;
  }

  .bdyText button {
    width: 150px;
    font-size: 16px;
    padding: 12px;
  }

  .background-image {
    height: auto; /* Adjusts height to fit content */
    padding: 10px;
  }

  .overlay-text {
    flex-direction: column; /* Stacks text and image vertically on smaller screens */
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .overlay-text img {
    max-width: 100%; /* Ensures image is fully responsive */
    margin-left: 0; /* Removes left margin on smaller screens */
  }
}

@media (max-width: 480px) {
  .bdyText h1 {
    font-size: 1.2rem;
  }

  .bdyText button {
    width: 130px;
    font-size: 14px;
    padding: 10px;
  }

  .overlay-text {
    padding: 10px;
  }
}
