<section id="skills" class="section">
    <h2>Skills</h2>
    <div class="skills-container">
        <div class="skill">
          <h3>Frontend Development</h3>
          <div class="skill-bar">
            <div class="progress" style="width: 80%;"></div>
          </div>
          <p>HTML, CSS3, JavaScript, Angular</p>
        </div>
        <div class="skill">
          <h3>Backend Development</h3>
          <div class="skill-bar">
            <div class="progress" style="width: 70%;"></div>
          </div>
          <p>Java, Spring Boot</p>
        </div>
        <div class="skill">
          <h3>Version Control</h3>
          <div class="skill-bar">
            <div class="progress" style="width: 90%;"></div>
          </div>
          <p>Git, GitHub</p>
        </div>
        <div class="skill">
          <h3>Database Management</h3>
          <div class="skill-bar">
            <div class="progress" style="width: 75%;"></div>
          </div>
          <p>MySQL, PostgreSQL</p>
        </div>
        <div class="skill">
          <h3>Microservices</h3>
          <div class="skill-bar">
            <div class="progress" style="width: 80%;"></div>
          </div>
          <p>Spring Boot, REST APIs</p>
        </div>
        <div class="skill">
          <h3>Docker</h3>
          <div class="skill-bar">
            <div class="progress" style="width: 75%;"></div>
          </div>
          <p>Containerization, Docker Compose</p>
        </div>
        <div class="skill">
          <h3>Jenkins</h3>
          <div class="skill-bar">
            <div class="progress" style="width: 70%;"></div>
          </div>
          <p>CI/CD Pipelines, Automation</p>
        </div>
        <div class="skill">
          <h3>Jira</h3>
          <div class="skill-bar">
            <div class="progress" style="width: 85%;"></div>
          </div>
          <p>Agile Project Management</p>
        </div>
      </div>
</section>

